<div class="container">
    <div class="uNavi">
        <button class="btnBack" ng-click="goBack()"><img src="images/back_icon.png" width="25px" height="25px" /><span>  Back</span>
        </button>
    </div>

    <ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
        </ui-gmap-marker>
    </ui-gmap-google-map>

    <img src="images/spotlight-poi.png" class="center-marker" />
    <div class="bNavi">
        <button class="btnSet" ng-click="getCenter()">Set Location</button>
        <button class="btnCur" ng-click="gotoPos()" "><img src="images/gotocPos.png " /></button>
	</div>

</div>